.Container {
    background: url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png")no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.LoginScreen_logo {
    display: flex;
    justify-content: space-between;

}

.LoginScreen_logo img{
    width: 15vh;
    margin-left: 1%;
    position: fixed;
    z-index: 999;
    cursor: pointer;
}

.LoginScreen_logo button {
    position: fixed;
    right: 0;
    margin: 15px;
    margin-right: 20px;
    font-size: 1rem;
    background-color: #e50b16;
    border: none;
    padding: 8px 15px;
    outline: none;
    font-weight: 600;
    color: #fff;
    z-index: 999;
    cursor: pointer;
}

.Background_Content_Container {
    display: flex;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    position: relative;
    background-image: linear-gradient(
        to top,
        rgba(0,0,0, 0.8) 0 ,
        rgba(0,0,0, 0) 60%,
        rgba(0,0,0, 0.8)100% 
    );
}

.Background_Content {
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.Background_Content h1 {
    font-size: 45px;
    margin-bottom: 15px;
    font-weight: 700;
}
.Background_Content h3 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}
.Background_Content h4 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}

.Input_Button {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.Input_Button input {
    width: 60%;
    height: 5vh;
    outline: none;
    border: none;
    padding: 1%;
}

.Input_Button input::placeholder {
    font-size: 16px;
}

.Input_Button button {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #fff;
    background-color: #e50b16;
    margin-left: 1px;
    cursor: pointer;
}



